.parentContainer {
    display: flex;
    /* flex-direction: row; */
    background-color: lightseagreen;
    width: 640px;
    height: 640px;
    margin: auto;
    /* align-items: stretch; */
    /* align-content: stretch; */
    /* justify-content: space-between; */
    /* flex-grow: 1;  */
    flex-wrap: wrap;
    border: 1px solid;

}

.buttonContainer{
    margin: auto;
}