body{
    background-color: teal;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1650;
    color: white;
    margin-bottom: 150px;
}

.mainContainer{
    display: flex;
    justify-content: space-around;
}

label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1650;
    margin-left: 10px;
    font-size: 20px;

}
.parentContainer {
    display: flex;
    /* flex-direction: row; */
    background-color: white;
    width: 640px;
    height: 640px;
    margin: auto;
    /* align-items: stretch; */
    /* align-content: stretch; */
    /* justify-content: space-between; */
    /* flex-grow: 1;  */
    flex-wrap: wrap;
    border: 5px dashed;

}

.buttonContainer{
    margin: auto;
}